.thankyou-card {
  // Default view
  background-color: $darkBlue;
  border-radius: 1.187rem;
  width: 23rem;
  height: 26.487rem;
  text-align: center;

  // Desktop view
  @include onDesktop {
    border-radius: 1.875rem;
    width: 25.8125rem;
    height: 26.24rem;
  }

  &__items {
    // Default view
    padding: 1.875rem;

    // Desktop view
    @include onDesktop {
      padding: 2.125rem;
    }
  }

  &__image {
    margin-top: 0.9375rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__answer {
    display: inline;
    color: $orange;
    background-color: $blueGray;
    padding: 5px 20px 5px 20px;
    border-radius: 1.875rem;
  }

}
