// Primary Color
$orange: hsl(25, 97%, 53%);

// Neutral Colors
$white:hsl(0, 0%, 100%);
$lightGrey:hsl(217, 12%, 63%);
$mediumGray:hsl(216, 12%, 54%);
$blueGray:hsl(214, 15%, 28%);
$darkBlue:hsl(213, 19%, 18%);
$xxx: hsl(215, 27%, 12%);
$veryDarkBlue:hsl(216, 12%, 8%);

// Font sizes
$font-para: 0.9375rem;